@font-face {
	font-family: 'minecraft'; 
	src: url(../fonts/minecraft.ttf); 
}

:root {
    --color-bg: #0f1528;
    --color-dark: #1c232f;
    --color-grai: #aaa;
    --color-white: #ececec;
    --color-turquoise: #00d9ff;

    --line-height: 1.9;
}

::-webkit-scrollbar {
    width: 15px;
    background-color: #071526;
}
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    width: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: rgba(0, 217, 255, .6);
}

::-moz-selection {
    background-color: #7FC7FF;
    color: #fff;
}
::selection {
    background-color: #7FC7FF;
    color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html {
    background-color: var(--color-bg);

    scroll-behavior: smooth;
}
body {
    background: hsla(226, 45%, 11%, 1);
    background: radial-gradient(circle, hsla(226, 45%, 11%, 1) 45%, hsla(204, 100%, 7%, 1) 100%);
    background: -moz-radial-gradient(circle, hsla(226, 45%, 11%, 1) 45%, hsla(204, 100%, 7%, 1) 100%);
    background: -webkit-radial-gradient(circle, hsla(226, 45%, 11%, 1) 45%, hsla(204, 100%, 7%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0F1528", endColorstr="#001523", GradientType=1 );

    background-repeat: no-repeat;

    line-height: var(--line-height);
}

.container {
    width: 100%;
    max-width: 1500px;
    margin-inline: auto;
    padding: 0 15px;
}

/* Header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(5px);
    z-index: 1000;
}
.header__inner {
    display: grid;
    grid-template-columns:1fr auto 1fr ;
    height: 70%;
    width: 100%;
    padding: 5px 0;

    border-top: 2px solid rgba(0, 217, 255, .7);
}
.header__logo {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: auto;

    font-size: 20px;
    color: var(--color-turquoise);
    text-shadow: var(--color-turquoise) 1px 0 5px;
    font-family: 'minecraft';
}
.header__logo img {
    height: 30px;
}
.header__nav ul {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 25px;
    padding: 5px 0;
}
.header__nav a {
    padding-top: 100%;

    font-size: 14px;
    color: var(--color-white);
    font-family: 'minecraft';
    transition: all .3s;
}
.header__nav a:hover {
    color: var(--color-turquoise);
    opacity: .8;
}
.active > a{
    color: var(--color-turquoise);
}
.disabled > a{
    color: rgba(136, 136, 136, .4);
    pointer-events: none;
}
.header__social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-left: auto;
}

/* Header_Menu */
.header__menu {
    display: none;
    align-items: center;
}
.burger-checkbox {
    position: absolute;
    visibility: hidden;
}
.burger {
    position: relative;
    z-index: 1;
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 40px;
    height: 26px;
}
.burger::before,
.burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: var(--color-turquoise);
}
.burger::before {
    top: 0;
    box-shadow: 0 11px 0 var(--color-turquoise);
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}
.burger::after {
    bottom: 0;
    transition: bottom .3s .15s, transform .3s;
}
.burger-checkbox:checked + .burger::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0, 217, 255,0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
}
.burger-checkbox:checked + .burger::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
}
.menu-list {
    top: 0;
    left: 0;
    position: absolute;
    display: grid;
    gap: 12px;
    padding: 42px 0;
    margin: 0;
    background: rgba(15, 21, 40, .6);
    list-style-type: none;
    transform: translateY(-100%);
    transition: .3s;
    width: 100vw;
    height: 100vh;
}
.menu-item {
    display: block;
    padding: clamp(0px, 1vh, 8px);
    color: var(--color-white);
    font-size: clamp(16px, 4vh, 30px);
    text-align: center;
    text-decoration: none;
}
.menu-item:hover {
    background: rgba(255,255,255,.2)
}
.burger-checkbox:checked ~ .menu-list {
    transform: translateX(0);
}

/* Intro */
.intro {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
}
.intro__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.intro__content {
    width: 100%;
    font-family: 'minecraft';
    text-align: center;
    z-index: 1;
}
.intro__main_title {
    font-size: clamp(22px, 11vw, 50px);
    color: var(--color-white);
    line-height: calc(var(--line-height) / 1.45);
}
.intro__title {
    font-size: clamp(18px, 3.3vw, 25px);
    line-height: var(--line-height);
    color: var(--color-grai);
}
.intro__title span {
    color: var(--color-turquoise);
}
.intro__suptitle {
    max-width: 555px;
    font-size: clamp(17px, 3.5vw, 20px);
    line-height: calc(var(--line-height) / 1.25);;
    color: var(--color-grai);
    margin-top: 30px;
    margin-inline: auto;
}
.intro__button {
    margin-top: 50px;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 1.5rem;
}
.intro__button a {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 36px;
    padding: .25em;
    color: var(--color-white);
    font-size: clamp(14px, 4vw, 18px);
    font-weight: 400;
    line-height: 45px;

    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  } 
  
  .intro__button a:hover {
    color: var(--color-turquoise);
    
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388; 
  }
.intro__arrow {
    position: absolute;
    top: 90%;
    width: 100%;
    max-width: 1100px;
    height: 31px;
    text-align: center;
}
.intro__arrow > svg {
    width: 36px;
    height: 32px;
    opacity: .7;
    fill: var(--color-turquoise);
    transition: all .3s ease-in-out;
}
.intro__arrow > svg:hover {
    opacity: 1;
    filter: drop-shadow(0 4px 16px rgba(0, 217, 255, .8));
    margin-top: 10px;
}

.stars {
    width: 3px;
    height: 3px;
    background: var(--color-white);
    position: fixed;
    left: 0;
    right: 0;
    margin-inline: auto;
    top: 50%;
    transform-origin: 0 0;
    transform: translateY(-50%);
    border-radius: 50%;
    animation: rotate 270s infinite linear;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
        opacity: .6;
    }
      50% {
        opacity: .9;
      }
      100% {
        transform: rotate(360deg);
        opacity: .4;
      }
}

/* Info */
.info__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 35px;
    align-items: center;
    text-align: center;
    color: var(--color-grai);
    font-family: 'minecraft';
}
.title {
    font-size: 20px;
    font-weight: 800;
    color: var(--color-white);
    letter-spacing: .6px;
}
.title_line {
    width: 92px;
    height: 2px;
    margin-top: 12px;
    background: var(--color-turquoise);
    box-shadow: 0 4px 16px rgba(0, 217, 255, 0.6);
}
.title_description_text {
    padding-top: 35px;
    max-width: 750px;
    font-size: clamp(17px, 2.3vw, 20px);
}

/* About_server_Info */
.info__inner > .server {
    display: inline-flex;
    gap: 10px;
}

/* Join_Info */
.join_steps {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center; 
    width: 100%;
    align-items: center;
}
.join_steps img {
    position: relative;
    height: 300px;
    width: 300px;
    border-radius: 100%;
    margin-inline: auto;
}
.steps {
    text-align: start;
    list-style-type: upper-roman;
    font-size: clamp(16px, 2.7vw, 20px);
    line-height: 40px;
}
.steps li {
    color: var(--color-white);
}
.steps li p {
    color: var(--color-grai);
}
.steps li a {
    color: var(--color-white);
}
.steps li span {
    color: var(--color-white);
}

/* Map */
.map {
    position: relative;
    margin-inline: auto;
    height: 100vh;
    width: 100vw;
}
.map > iframe {
    position: absolute;
    bottom: 0;
    height: calc(100% - 51.4px); /*вычитание header*/
    width: 100%;
}

/* Rules */
.rules {
    padding-top: 52.39px;

    color: var(--color-grai);
    font-family: 'minecraft';
    font-size: clamp(17px, 5vw, 20px);
}
.rules__inner {
    margin-inline: auto;
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.rules__inner h1,h2 {
    color: var(--color-white);
}
.rules__inner h1 {
    padding-bottom: 20px;
}
.rules__inner h2 {
    scroll-margin-top: 12px;
    padding-top: 30px;
}
.rules__inner ol ul{
    list-style: disc outside none;
    padding-left: 30px;
}
.rules__inner li{
    padding-top: 15px;
}
.rules__list_content {
    position: fixed;
    top: 52.39px;
    right: 5px;
    max-width: 300px;
    width: 100%;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.rules__list_content.border {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 10px;
}
.rules__list_content h2 {
    font-size: 17px;
    color: var(--color-white);
}
.rules__list_content li {
    font-size: 15px;
    margin-top: 3px;
    margin-bottom: 4px;
}
.rules__list_content a {
    color: var(--color-grai);
}

/* Footer */
.social {
    height: 100vh;
}

@media (max-width: 1200px) {
    /* Header */
    .header__menu {
        display: flex;
    }
    .header__nav {
        display: none;
    }
    
    /* Intro */
    .intro__inner {
        justify-content: center;
    }
    .intro__content {
        text-align: center;
    }
    .intro__button {
        margin-top: 15px;
        grid-auto-flow: row;
    }

    /* Join_Info */
    .join_steps {
        grid-template-columns: 1fr;
    }
    .steps {
        margin-top: 30px;
        margin-inline: auto;
    }

    .rules__list_content {
	    display: none;
    }
}